<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>このサービスで何ができるかを書く</h1>
      </div>
    </div>
  </div>
<% end %>

<body>
<div class="container container_search">

  <p class="search_header text-center">まずはエリアを指定しよう！</p>
  <div class="search well well-lg">
    <div class="row">
      <div class="image_map text-center col-xs-12 col-sm-8 col-sm-offset-2">
          <%= render 'layouts/imagemap' %>
      </div>
    </div>
  </div>

</div>
</body>

