<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <!--<a href="" class="btn btn-success btn-lg">さっそく検索する</a>-->
      </div>
    </div>
  </div>
<% end %>

<body>
<div class="container">

  <h4>エリアを指定</h4>
  <div class="search well well-lg text-center">
    <div class="row">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="image_map center-block">
          <%= render 'layouts/imagemap' %>
        </div>
      </div>
    </div>
  </div>

</div>
</body>

