<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <p>個人練習に最適な音楽スタジオが見つかる！</p>
        <p>的なサムシングを書く</p>
      </div>
    </div>
  </div>
<% end %>

<body>
<div class="container">

  <p class="search_header text-center">Step１ まずはエリアを指定しよう！</p>
  <div class="search well well-lg">
    <div class="row">
      <div class="image_map text-center col-xs-12 col-sm-8 col-sm-offset-2">
          <%= render 'layouts/imagemap' %>
      </div>
    </div>
  </div>

</div>
</body>

