<body>
<div class="contents">

<div class="container">

  <p class="search_header text-center">エリアを指定してスタジオを探そう！</p>
  <div class="search well well-lg">
    <div class="row">
      
      <div class="image_map text-center col-xs-12 col-sm-8 col-lg-7 col-lg-offset-1">
          <%= render 'layouts/imagemap' %>
      </div>
      
      <div class="area_ranking col-xs-12 col-sm-4 col-lg-4">
        <h6>スタジオが多いエリア</h6>
        <ol>
          <%count_ranking = 5%>
          <%i = 0%>
          <%for areas in Area.ranking_method do%>
            <%if i<count_ranking then%>
            <li>
              <a href="studios?area_id=<%=Area.find_by(name: areas[0]).id%>"><h5><%=areas[0]%><span class="how_many_studios">【<%=areas[1]%>件】</span></h5></a>
            </li>
            <%end%>
            <%i=i+1 %>
          <%end%>
        </ol>
      </div>
      
    </div>
  </div>
</div>

</div>
</body>

