@charset "utf-8";

* {
	font-family :
	YuGothic,    /* Mac用 */
	'Yu Gothic', /* Windows用 */
	sans-serif;
}

/* body */
body {
  background: #ECEEF1;
  padding: 70px 0 0 0;/*navbarをfixedにしたのでその分あける*/
  margin: 0;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 10px;
  margin-left: 20px;
  height: 30px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 40px;
  width: 100%;
  height: 100px;
  /*background: url("/images/cover_bokasi.jpg") center center no-repeat;*/
  background-size: cover;
  background-color: #363947;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 0px 0;
  color: #00000;
  font-weight: bold;
  letter-spacing: 0.15em;
}


.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.table-noborder {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.YuGothic{
	font-family :
	YuGothic,    /* Mac用 */
	'Yu Gothic', /* Windows用 */
	sans-serif;
}

.YuGothic_b{
	font-family :
	YuGothic,    /* Mac用 */
	'Yu Gothic', /* Windows用 */
	sans-serif;
	font-weight: bold;
}

.main_left{
  background-color: white;
  padding:0;
  border-right:solid 4px #f2f2f2;
  border-bottom:solid 4px #f2f2f2;
}

.charge{
  background-color: white;
  padding:10px 15px 10px 15px;
}

.main_right{
  background-color: white;
  border-right:solid 4px #f2f2f2;
  word-wrap: break-word;
  padding-right:15px;
  padding-left:15px;
}

h1{
  color: white;
}

h3{
  color: #212121;
}

h4 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px black;/*左線*/
  font-weight: bold;
}

h5{
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  font-weight: bold;
  font-size: 18px;
}

.studio_info{
  border-bottom: solid 1px #f2f2f2;
  padding-top: 8px;
  padding-bottom: 8px;
}

.map_content{
  border-bottom: solid 1px #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.studio_map {
  height: 250px;
  margin-left:auto;    /* 左側マージンを自動的に空ける */
  margin-right:auto;   /* 右側マージンを自動的に空ける */
  text-align:left;     /* 中身を左側表示に戻す */
}

.title{
  font-weight: bold;
}

.fas{
  padding-right:5px;
}

.googlemap_open{
  margin-bottom: 1px;
  border:none;
}

.title_result{
  padding-bottom: 10px;
}

.sort_studios{
  padding-bottom: 10px;
}

.noborder_table{
  border-style: none;
}

.sortby{
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.image_map{
}

.search{
  background-color: white;
  border-radius: 0;
  border-color: white;
  padding: 50px 15px 50px 15px;
}

.search_header {
  color: white;
	position: relative;
	background: #0E7AC4;
	border: 1px solid #0E7AC4;
	font-size: 18px;
	font-weight: bold;
	padding:10px;
	margin-bottom: -5px;
}
.search_header:after, .search_header:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.search_header:after {
	border-color: rgba(250, 252, 249, 0);
	border-top-color: #0E7AC4;
	border-width: 10px;
	margin-left: -10px;
}
.search_header:before {
	border-color: rgba(31, 26, 22, 0);
	border-top-color: #0E7AC4;
	border-width: 11px;
	margin-left: -11px;
}

.navbar-static-top{
  border-bottom: solid 1px #BDBDBD;
}

.container {
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.container-show{
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.image_trim{
  position: relative;
  width: 100%;/*　トリミングしたい枠の幅（固定にしたい場合はサイズを入力）　*/
  padding-top: 55%;/*　トリミングしたい枠の高さ（固定にしたい場合はサイズを入力）　*/
  overflow: hidden;/*　画像が枠からはみ出た部分はトリミング（非表示）する　*/
  margin: 0 auto;
}
.image_trim img{
/* 画像を上下左右に中央配置する（絶対指定） */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* 画像の最大サイズは枠の1.5倍まで */
  max-width: 150%;
  max-height: 150%;
}


ol{
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding: 1.5em;
}
ol li{
  position:relative;
  line-height: 30px;
  margin: 15px 0 10px 30px;
  padding: 2px 0 2px 10px;
  font-weight: bold;
  background: #fef6f3;
}
ol li:before{
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: -40px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: #F6A38B;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
ol li:after{
  content:"";
  display: block;
  position: absolute;
  left: -10px;
  height: 0;
  width: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid #F6A38B;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.how_many_studios{
  font-size: 14px;
}