@charset "utf-8";

* {
	font-family :
	YuGothic,    /* Mac用 */
	'Yu Gothic', /* Windows用 */
	sans-serif;
}

/* body */
body {
  background: #f2f2f2;
  padding-top: 70px;/*navbarをfixedにしたのでその分あける*/
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 10px;
  margin-left: 20px;
  height: 30px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
/*  background: url("/images/cover-bg.png") center center no-repeat;*/
  background-size: cover;
  background-color: #C5CAE9;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #00000;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.table-noborder {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.YuGothic{
	font-family :
	YuGothic,    /* Mac用 */
	'Yu Gothic', /* Windows用 */
	sans-serif;
}

.YuGothic_b{
	font-family :
	YuGothic,    /* Mac用 */
	'Yu Gothic', /* Windows用 */
	sans-serif;
	font-weight: bold;
}

.main_left{
  background-color: white;
  padding:0;
  border-right:solid 4px #f2f2f2;
  border-bottom:solid 4px #f2f2f2;
}

.charge{
  background-color: white;
  padding:15px;
}

.main_right{
  background-color: white;
  border-right:solid 4px #f2f2f2;
  word-wrap: break-word;
}

h1{
  color: white;
}

h4 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px black;/*左線*/
  font-weight: bold;
}

h5{
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  font-weight: bold;
  font-size: 18px;
}

.studio_info{
  border-bottom: solid 1px #f2f2f2;
  padding-top: 8px;
  padding-bottom: 8px;
}

.map_content{
  border-bottom: solid 1px #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.studio_map {
  height: 250px;
  margin-left:auto;    /* 左側マージンを自動的に空ける */
  margin-right:auto;   /* 右側マージンを自動的に空ける */
  text-align:left;     /* 中身を左側表示に戻す */
}

.title{
  font-weight: bold;
}

.fas{
  padding-right:5px;
}

.googlemap_open{
  margin-bottom: 1px;
  border:none;
}

.title_result{
  padding-bottom: 10px;
}

.sort_studios{
  padding-bottom: 10px;
}

.noborder_table{
  border-style: none;
}

.sortby{
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.image_map{
}

.search{
  background-color: #FFFFFF;
  border-radius: 0;
  border-color: white;
  padding: 30px 15px 20px 15px;
  border-bottom: solid 1px #BDBDBD;
  border-left: solid 1px #BDBDBD;
  border-right: solid 1px #BDBDBD;
}

.search_header {
  color: white;
	position: relative;
	background: #303F9F;
	border: 1px solid #303F9F;
	font-size: 18px;
	font-weight: bold;
	padding:15px;
	margin-bottom: -5px;
}
.search_header:after, .search_header:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.search_header:after {
	border-color: rgba(250, 252, 249, 0);
	border-top-color: #303F9F;
	border-width: 10px;
	margin-left: -10px;
}
.search_header:before {
	border-color: rgba(31, 26, 22, 0);
	border-top-color: #303F9F;
	border-width: 11px;
	margin-left: -11px;
}

.container_search{
  width:100%;
  padding-left: 0;
  padding-right: 0;
}

.navbar-static-top{
  border-bottom: solid 1px #BDBDBD;
}