<div>
  <img src="/images/imagemap_toumei.png" usemap="#ImageMap" alt="" class="img-responsive"/>
    <map name="ImageMap">
      <!--大田区-->
      <area shape="poly" coords="630,723,574,695,543,695,522,687,507,702,494,694,471,709,451,709,438,695,451,673,443,665,428,665,400,644,372,587,351,587,359,581,352,567,364,560,380,559,380,545,394,532,406,546,407,574,415,560,436,553,465,554,471,566,478,573,508,575,515,582,550,581,558,596,580,596,586,602,601,589,621,602,608,616,565,608,557,617,585,624,573,636,557,629,543,638,550,653,559,648,565,653,588,631,608,625,657,709,630,722,630,722" 
      href="studios?area_id=10" alt="" />
      <!--世田谷区-->
      <area shape="poly" coords="348,585,342,564,305,535,263,514,227,515,220,507,235,493,213,457,220,444,228,437,228,422,220,414,221,393,213,380,222,372,221,357,214,350,234,351,256,367,262,379,321,387,357,380,384,380,392,402,412,430,406,451,412,458,398,491,385,479,363,471,362,486,376,507,363,523,377,545,377,556,364,557,349,565,355,579,349,585,349,585" 
      href="studios?area_id=11" alt="" />
      <!--目黒区-->
      <area shape="poly" coords="379,546,365,525,379,510,364,489,364,475,385,482,400,496,415,460,408,453,414,432,394,404,415,405,429,424,458,454,479,453,472,467,472,489,458,496,436,497,450,503,437,523,429,538,415,525,407,545,393,533,379,545,379,545" 
      href="studios?area_id=9" alt="" />
      <!--品川区-->
      <area shape="poly" coords="472,467,493,467,507,488,500,495,515,503,522,496,536,502,557,496,558,517,600,580,580,595,558,594,551,580,515,580,507,573,479,573,472,567,465,552,435,552,414,559,408,571,408,545,415,524,429,538,437,522,451,502,438,495,458,495,473,488,473,468,473,468" 
      href="studios?area_id=8" alt="" />
      <!--杉並区-->
      <area shape="poly" coords="214,353,236,353,257,367,264,382,321,389,357,382,371,367,357,353,357,346,371,338,372,325,364,317,358,289,328,281,322,275,307,268,307,260,300,260,292,239,278,231,235,253,228,267,214,261,207,267,214,274,221,288,235,296,221,331,228,339,214,353,214,353" 
      href="studios?area_id=12" alt="" />
      <!--中野区-->
      <area shape="poly" coords="371,367,357,352,357,345,371,338,372,325,364,316,357,289,328,281,322,274,307,267,307,259,300,259,293,239,300,224,307,223,328,252,336,252,336,246,357,252,372,231,386,231,399,238,393,259,386,267,400,274,400,281,407,288,428,289,414,302,421,317,371,366,371,366" 
      href="studios?area_id=13" alt="" />
      <!--練馬区-->
      <area shape="poly" coords="214,274,179,260,172,239,179,225,179,181,172,160,186,153,214,130,222,117,250,123,237,138,273,139,293,145,293,110,301,118,301,138,309,139,316,145,374,146,394,168,387,203,407,204,401,216,408,218,401,238,387,231,373,231,357,252,337,246,336,253,330,253,308,225,301,224,294,238,279,232,236,253,229,267,215,261,208,268,214,274,214,274" 
      href="studios?area_id=14" alt="" />
      <!--港区-->
      <area shape="poly" coords="557,493,537,500,521,493,514,499,502,494,510,487,495,464,474,464,480,451,487,446,487,415,472,413,466,401,480,368,500,359,514,366,528,380,544,382,564,395,564,401,557,408,563,423,556,492,555,491" 
      href="studios?area_id=3" alt="" />
      <!--渋谷区-->
      <area shape="poly" coords="476,451,457,451,429,423,414,400,392,401,385,379,359,380,359,380,407,333,435,333,456,347,462,361,476,361,477,366,462,403,470,418,484,419,484,445,477,451,477,451" 
      href="studios?area_id=4" alt="" />
      <!--中央区-->
      <area shape="poly" coords="585,442,613,423,612,364,626,344,621,338,606,338,600,325,594,344,572,374,565,374,566,401,559,409,565,422,585,442,585,442" 
      href="studios?area_id=2" alt="" />
      <!--千代田区-->
      <area shape="poly" coords="563,393,544,379,528,379,515,366,501,359,508,333,529,312,556,311,572,318,586,305,599,311,598,323,591,344,572,371,563,374,563,392,563,392" 
      href="studios?area_id=1" alt="" />
      <!--新宿区-->
      <area shape="poly" coords="408,330,423,316,415,302,436,283,457,283,464,290,478,275,499,290,526,290,526,309,503,330,498,358,479,365,479,357,464,357,457,343,435,328,410,329,410,329" 
      href="studios?area_id=5" alt="" />
      <!--文京区-->
      <area shape="poly" coords="570,314,558,307,529,307,529,285,500,286,479,273,479,267,494,267,487,252,493,246,514,253,515,238,523,238,529,225,537,231,543,225,569,238,562,260,577,273,584,301,571,313,571,312" 
      href="studios?area_id=7" alt="" />
      <!--豊島区-->
      <area shape="poly" coords="428,287,408,288,400,281,400,273,387,266,394,260,407,218,428,211,442,218,451,225,464,196,477,203,477,210,493,217,501,204,507,204,514,217,522,211,540,223,536,228,527,222,521,236,512,236,513,250,491,244,483,252,490,265,477,265,476,273,464,286,457,280,434,280,434,280" 
      href="studios?area_id=6" alt="" />
      <!--板橋区-->
      <area shape="poly" coords="450,220,444,212,429,206,407,214,401,213,408,198,387,199,395,163,372,141,315,142,307,133,300,134,301,111,293,107,293,101,323,87,323,65,429,65,435,71,428,86,449,94,443,114,457,150,478,159,485,191,479,198,463,191,451,219,451,219" 
      href="studios?area_id=15" alt="" />
      <!--北区-->
      <area shape="poly" coords="585,237,572,237,544,222,522,207,515,214,508,198,499,200,493,213,480,208,480,202,489,194,480,155,460,149,445,115,452,94,431,85,437,76,457,87,480,88,494,95,515,95,521,116,513,137,537,146,558,138,563,143,558,150,535,165,542,173,548,174,541,179,543,188,557,196,557,203,565,203,577,209,571,224,584,236,584,236" 
      href="studios?area_id=16" alt="" />
      <!--足立区-->
      <area shape="poly" coords="515,136,521,117,550,102,550,87,566,64,543,50,542,31,556,38,571,24,584,31,599,53,622,53,643,46,665,46,684,32,691,44,676,51,677,74,692,82,721,67,733,73,725,81,742,125,755,138,749,149,741,136,721,150,698,150,686,171,677,163,662,173,684,208,676,208,671,220,663,206,629,214,616,202,630,195,613,178,542,171,536,166,557,152,565,144,556,136,535,143,515,136,515,136" 
      href="studios?area_id=17" alt="" />
      <!--荒川区-->
      <area shape="poly" coords="665,242,630,236,622,243,607,242,600,250,595,250,587,235,574,222,581,207,565,200,559,201,559,192,544,187,544,180,550,175,615,181,628,193,615,202,629,217,665,210,672,222,664,241,664,241" 
      href="studios?area_id=19" alt="" />
      <!--台東区-->
      <area shape="poly" coords="621,335,608,336,601,322,601,306,586,300,580,270,565,257,572,238,586,238,593,251,602,252,609,244,621,244,630,237,663,244,655,257,621,315,620,335,620,335" 
      href="studios?area_id=20" alt="" />
      <!--墨田区-->
      <area shape="poly" coords="622,335,622,315,667,241,673,221,680,208,687,209,720,264,706,264,706,280,721,287,715,299,699,300,678,293,678,321,662,322,663,343,649,342,642,335,635,342,628,334,628,335,626,335" 
      href="studios?area_id=21" alt="" />
      <!--江東区-->
      <area shape="poly" coords="624,338,629,338,636,346,644,339,651,346,666,345,666,324,681,324,680,295,700,302,714,302,728,316,736,331,729,432,721,444,720,522,708,522,701,509,694,508,693,481,686,479,679,459,657,458,643,479,643,494,616,550,574,488,601,465,594,458,622,416,615,366,630,345,630,345" 
      href="studios?area_id=22" alt="" />
      <!--葛飾区-->
      <area shape="poly" coords="737,72,729,79,745,123,759,137,751,151,744,138,722,151,700,152,685,173,680,167,666,173,723,265,743,286,743,271,772,286,779,280,772,259,793,215,813,201,800,186,814,179,793,137,829,115,836,108,808,101,799,108,786,93,793,80,786,72,751,87,737,73,737,73" 
      href="studios?area_id=18" alt="" />
      <!--江戸川区-->
      <area shape="poly" coords="731,432,744,459,766,467,783,457,800,445,815,410,814,366,829,351,851,352,872,330,880,309,872,288,844,267,830,245,844,216,836,194,815,181,803,188,816,203,795,217,773,258,781,280,774,288,745,275,744,289,722,267,708,268,710,280,724,288,716,303,730,315,738,329,730,429,730,429" 
      href="studios?area_id=23" alt="" />
    </map>
</div>